---
title: Publications
layout: page
order: 3
---

<!-- PUBLICATIONS -->
<div id="publications" class="tabcontent">
    <div class="pb-2">
        <h1 class="title title--h1 first-title title__separate">Publications</h1>
    </div>
    <!-- Gallery -->
    <div class="pb-0">
        <!-- Filter -->
        <div class="select">
            <span class="placeholder">Select category<svg class="marshkicon text-icon rotate-icon-45">
                    <use href="#marshkicon-plus" /></svg></span>
            <ul class="filter">
                <li class="filter__item">Category</li>
                <li class="filter__item active" data-filter="*"><a class="filter__link active" href="#filter">All</a></li>
                <li class="filter__item" data-filter=".category-imputation"><a class="filter__link" href="#filter">Imputation</a></li>
            </ul>
            <input type="hidden" name="changemetoo" />
        </div>
        <div class="gallery-grid js-masonry js-filter-container">
            <div class="gutter-sizer"></div>
            <!-- Publications cards -->

            {% for pub in site.data.publications %}
            <div class="gallery-grid__item {% for cat in pub.categories %}category-{{cat}}{% endfor %}">
                <a href="{{ pub.url }}" target="_blank" rel="noopener noreferrer">
                    <div class="gallery-grid__image-wrap">
                        <img class="gallery-grid__image cover lazyload" src="assets/img/{{ pub.thumbnail }}" alt="" />
                    </div>
                </a>
                <figcaption class="gallery-grid__caption">
                    <a href="{{ pub.url }}" target="_blank" rel="noopener noreferrer">
                        <h4 class="title gallery-grid__title">{{ pub.title }}</h4>
                    </a>
                    <span class="gallery-grid__category">
                        {% for author in pub.authors %}
                            {%assign ivan = author | slice: 0, 12%}
                            {% if ivan == "Ivan Marisca" %}<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% if author != pub.authors.last %},{% endif %}
                        {% endfor %}
                    </span>
                </figcaption>
                <div class="gallery-grid__venue">{{ pub.venue }}</div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>