---
title: Resume
layout: page
---

<!-- RESUME -->
<div id="resume" class="tabcontent">
    <div class="pb-3">
        <h1 class="title title--h1 first-title title__separate">Resume</h1>
    </div>
    <!-- Experience -->
    <div class="pb-0">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 class="title title--h3">
                    <svg class="marshkicon title-icon">
                        <use href="#marshkicon-academic-cap" /></svg>Education</h2>
                <div class="timeline">

                    {% for item in site.data.cv.education %}
                    <article class="timeline__item">
                        <h5 class="title title--h5 timeline__title">
                            {% if item.url %}<a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.where }}</a>{% else %}{{ item.where }}{% endif %}{% if item.what %} - {{ item.what }}{% endif %}</h5>
                        <span class="timeline__period">{{ item.start }} — {{ item.end }}</span>
                        <p class="timeline__description">{{ item.description }}</p>
                    </article>
                    {% endfor %}

                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="title title--h3">
                    <svg class="marshkicon title-icon">
                        <use href="#marshkicon-blackboard" /></svg>Teaching
                </h2>
                <div class="timeline">

                    {% for item in site.data.cv.teaching %}
                    <article class="timeline__item">
                        <h5 class="title title--h5 timeline__title">
                            {% if item.url %}<a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.course }}</a>{% else %}{{ item.course }}{% endif %}{% if item.class %} ({{ item.class }}){% endif %}</h5>
                        <span class="timeline__period">{{ item.start }} — {{ item.end }} @ {{ item.where }}</span>
                        <p class="timeline__description">{{ item.description }}</p>
                    </article>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Industry Projects -->
    <div id="sec-industry-projects" class="box-inner box-inner--rounded">
        <h2 class="title title--h3">Industry Projects</h2>
        <div class="row">
            {% for item in site.data.cv.projects %}
            <!-- Case Item -->
            <div class="col-12">
                <div class="case-item box box__second">
                    {% if item.image %}
                    <img class="case-item__icon" src="{{item.image}}" alt="" />
                    {% endif %}
                    <div>
                        <h3 class="title title--h4 mb-0"><a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{item.name}}</a></h3>
                        <span class="timeline__period">{{item.start_date}} — {{item.end_date}}</span>
                        <p class="case-item__caption">{{ item.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>