<aside class="col-12 col-md-12 col-xl-3">
    <div class="sidebar box shadow pb-0 sticky-column">
        <svg class="avatar avatar--180" viewBox="0 0 188 188">
            <g class="avatar__box">
                <image xlink:href="assets/img/face_thumb_nobg.png" height="100%" width="100%" />
            </g>
        </svg>
        <div class="text-center">
            <h3 class="title title--h3 sidebar__user-name"><span class="weight--500">Ivan</span> Marisca</h3>
            <div class="badge badge--hero badge--light">Ph.D. student</div>
            <!-- Social -->
            <div class="social">
                <a class="social__link" href="https://scholar.google.com/citations?user=loKgz80AAAAJ&hl=it" target="_blank"><svg class="marshkicon text-icon">
                        <use href="#marshkicon-google-scholar" /></svg></a>
                <a class="social__link" href="https://github.com/marshka" target="_blank"><svg class="marshkicon text-icon">
                        <use href="#marshkicon-github" /></svg></a>
                <a class="social__link" href="https://www.linkedin.com/in/ivanmarisca" target="_blank"><svg class="marshkicon text-icon">
                        <use href="#marshkicon-linkedin" /></svg></a>
                <a class="social__link" href="https://twitter.com/IvanMarisca" target="_blank"><svg class="marshkicon text-icon">
                        <use href="#marshkicon-twitter" /></svg></a>
            </div>
        </div>
        <div class="sidebar__info box-inner box-inner--rounded">
            <ul class="contacts-block">
                <li class="contacts-block__item">
                    <svg class="marshkicon text-icon">
                        <use href="#marshkicon-building" /></svg><a href="https://gmlg.ch/" data-toggle="tooltip" data-placement="top" title="Graph Machine Learning Group" target="_blank" rel="noopener noreferrer">GMLG</a>
                    &nbsp;@&nbsp;
                    <a href="https://www.idsia.ch/" data-toggle="tooltip" data-placement="top" title="Dalle Molle Institute for Artificial Intelligence" target="_blank" rel="noopener noreferrer">IDSIA</a>
                </li>
                <li class="contacts-block__item">
                    <svg class="marshkicon text-icon">
                        <use href="#marshkicon-usi" /></svg><a href="https://www.usi.ch" data-toggle="tooltip" data-placement="top" title="Università della Svizzera italiana" target="_blank" rel="noopener noreferrer">USI</a>
                </li>
                <li class="contacts-block__item">
                    <svg class="marshkicon text-icon">
                        <use href="#marshkicon-placeholder" /></svg><a href="https://www.google.com/maps/place/Lugano" target="_blank" rel="noopener noreferrer">Lugano, Switzerland</a>
                </li>
                <li class="contacts-block__item">
                    <a href="mailto:*@usi.ch" data-toggle="tooltip" data-placement="top" title="ivan.marisca"><svg class="marshkicon text-icon">
                            <use href="#marshkicon-mail" /></svg>name.surname@usi.ch</a>
                </li>
            </ul>
        </div>
    </div>
</aside>