@import url("https://fonts.googleapis.com/css?family=Archivo:400,400i,700,700i&amp;display=swap");

/* ======= Base ======= */

body {
    font-family: $body-font;
    color: lighten($text-color, 15%);
    background: $smoky-white;
    font-size: 14px;
    padding: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 1.3rem;
}

h3,
.h3 {
    font-size: 1.15rem;
}

a {
    color: $theme-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: darken($theme-color, 10%);
    }

    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background: $theme-color;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
    grid-column: span 3;
    order: 0;
    background: $theme-color;
    color: #fff;

    a {
        color: #fff;
    }

    .profile-container {
        padding: 30px;
        background: darken($theme-color, 10%);
        text-align: center;
        color: #fff;
        gap: 15px;
        justify-content: space-evenly;
    }

    .name {
        font-size: 32px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .tagline {
        color: lighten($theme-color, 40%);
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }

    .profile-links {
        display: inline-flex;
        margin-top: .5rem;
        gap: .5rem;
    }

    .profile {
        margin-bottom: 15px;
    }

    .avatar {
        //used for profile image
        max-width: 100px;
        max-height: 100px;
        border: 3px solid #fff;
        background-color: white;
        border-radius: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

        @media (min-width: 768px) {
            max-width: 150px;
            max-height: 150px;
            margin-bottom: 15px;
        }
    }

    .contact-list {

        .fas,
        .fab,
        .far {
            margin-right: 5px;
            font-size: 18px;
            vertical-align: middle;
        }

        li {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .container-block {
        padding: 30px 30px 15px 30px;
    }

    .container-block~.container-block {
        padding: 15px 30px;
    }

    .container-block-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .degree {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .education-container {
        .item {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .meta {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
            margin-top: 0;
        }

        .time {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
        }
    }

    .languages-container {
        .lang-desc {
            color: rgba(256, 256, 256, 0.6);
        }
    }

    .languages-list {
        margin-bottom: 0;

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .interests-list {
        margin-bottom: 0;

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.main-wrapper {
    grid-column: span 7;
    background: #fff;
    padding: $page-margin;

    .section-title {
        color: $theme-color;
        text-transform: capitalize;
        margin-bottom: 1.3rem;
        position: relative;
    }

    .section-title::before {
        content: '';
        background-color: lighten($text-color, 50%);
        border-radius: 0.5rem;
        height: 0.175rem;
        position: absolute;
        bottom: -0.4rem;
        left: 0;
        width: 4rem;
        z-index: 1;
    }

    .section {
        margin-bottom: 2.5rem;
    }

    .experiences-section,
    .educations-section {
        .item {
            margin-bottom: 1.5rem;
        }
    }

    .upper-row {
        overflow: hidden;
        margin-bottom: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 1rem;
    }

    .job-title,
    .degree {
        color: $text-color;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }

    .cv-item-time {
        color: $text-grey;
    }

    .company,
    .university {
        margin-bottom: 10px;
        color: $text-grey;
    }

    .project-title {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
        color: darken($theme-color, 15%);
    }

    .projects-section {
        .item {
            margin-bottom: 15px;
        }
    }

    .publication-title {
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        margin-bottom: 1px;
    }

    .publication-authors {
        margin-bottom: 1px;
        display: flex;
        padding-inline-start: 0;
        list-style: none;
    }

    .equal-contrib::after {
        content: "*";
    }

    .publication-author ~.publication-author::before {
        content: ', ';
    }

    .publication-venue {
        color: $text-grey;
    }

    .publications-section {
        .intro {
            margin-bottom: 30px;
        }

        .item {
            margin-bottom: 15px;

            li {
                &::marker {
                    content: "",
                }
            }
        }
    }
}

.contact-list {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cv-list {
    padding-left: 20px;
    list-style: square;
    margin-bottom: 1.25rem;
}

.cv-list p {
    margin-bottom: 0.5rem;
}

.cv-footer {
    font-size: 0.8rem;
    color: lighten($text-color, 30%);
    text-align: end;
}

.card-body {
    padding: 1.1rem;
}

.card-title {
    margin-bottom: 0.25rem;
}

.card-text {
    margin-bottom: 0.3rem;
}

.skillset {
    .item {
        margin-bottom: 15px;
        overflow: hidden;
    }

    .level-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .level-bar {
        height: 12px;
        background: $smoky-white;
    }

    .level-bar-inner {
        height: 12px;
        background: lighten($theme-color, 15%);
    }
}

.footer {
    padding: 30px;

    .copyright {
        line-height: 1.6;
        color: lighten($text-color, 15%);
        font-size: 13px;
    }

    .fa-heart {
        color: $heart;
    }
}