@media print {

    body {
        padding: 0 !important;
    }

    .wrapper {
        max-width: unset !important;
    }

    footer {
        display: none;
    }

    .contact-list>.sidebar-print {
        display: none;
    }

    .page-break {
        page-break-before: always;
        height: $page-margin * 1.2;
    }

    .page-margin {
        height: $page-margin;
    }

    .sidebar-wrapper {
        background: #fff;
        padding-left: $page-margin !important;

        .avatar {
            border: 4px solid #fff;
            box-shadow: none;
        }
    }

    .main-wrapper {
        background: #fff;
        padding-right: $page-margin * 1.2 !important;
        padding-top: 0;
        padding-bottom: 0;
    }

    .wrapper {
        background: #fff;
    }

    .profile-container {
        padding-top: $page-margin * 1.2 !important;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }

    .container-block * {
        color: $text-color !important;

        a {
            color: $text-color;
        }
    }

    a {
        text-decoration: none !important;
    }

}