<section class="section academic-section">
    <h2 class="section-title">
        Academic activities
    </h2>
    <h3>Teaching</h3>
    {% assign teaching = site.data.cv.teaching %}
    <ul class="cv-list">
        {% for course in teaching %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>{{ course.course }}</strong> ({{ course.role }}) <span class="cv-text-altcolor print-only">– {{ course.class }} at {{ course.where }}</span>
                    </div>
                    <div class="cv-item-time">{{ course.start }} — {{ course.end }}</div>
                </div>
                <!--//upper-row-->
            </div>
            <div class="university print-hidden">{{ course.class }} at {{ course.where }}</div>
            <p>{{ course.description }}</p>
        </li>
        <!--//item-->
        {% endfor %}
    </ul>
    <h3>Supervised students</h3>
    {% assign theses = site.data.cv.theses %}
    <ul class="cv-list">
        {% for thesis in theses %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>{{ thesis.name }}</strong>, {{ thesis.degree }} at {{ thesis.university }}
                    </div>
                    <div class="cv-item-time">{{ thesis.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            <p><i>{{ thesis.title }}</i></p>
        </li>
        <!--//item-->
        {% endfor %}
    </ul>
    <h3>Talks</h3>
    {% assign talks = site.data.cv.talks %}
    <ul class="cv-list">
        <!-- Invited talks -->
        {% for talk in talks.invited %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>Invited talk</strong> at {{ talk.venue }}
                    </div>
                    <div class="cv-item-time">{{ talk.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            {% if talk.description %}
            <p>{{ talk.description }}</p>
            {% endif %}
        </li>
        <!--//item-->
        {% endfor %}
        <hr class="hr my-2" />
        <!-- Spotlight -->
        {% for talk in talks.spotlight %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>Spotlight talk</strong> at {{ talk.venue }}
                    </div>
                    <div class="cv-item-time">{{ talk.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            {% if talk.description %}
            <p>{{ talk.description }}</p>
            {% endif %}
        </li>
        <!--//item-->
        {% endfor %}
        <hr class="hr my-2" />
        <!-- Reading group -->
        {% for talk in talks.reading_group %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>Reading group presentation</strong> at {{ talk.venue }}
                    </div>
                    <div class="cv-item-time">{{ talk.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            {% if talk.description %}
            <p>{{ talk.description }}</p>
            {% endif %}
        </li>
        <!--//item-->
        {% endfor %}
        <hr class="hr my-2" />
        <!-- Poster presentation -->
        {% for talk in talks.poster %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>Poster presentation</strong> at {{ talk.venue }}
                    </div>
                    <div class="cv-item-time">{{ talk.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            {% if talk.description %}
            <p>{{ talk.description }}</p>
            {% endif %}
        </li>
        <!--//item-->
        {% endfor %}
        <hr class="hr my-2" />
        <!-- Abstract presentation -->
        {% for talk in talks.abstract %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>Abstract presentation</strong> at {{ talk.venue }}
                    </div>
                    <div class="cv-item-time">{{ talk.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            {% if talk.description %}
            <p>{{ talk.description }}</p>
            {% endif %}
        </li>
        <!--//item-->
        {% endfor %}
    </ul>
    <h3>Awards & Scholarships</h3>
    {% assign awards = site.data.cv.awards %}
    <ul class="cv-list">
        {% for award in awards %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>{{ award.type }}</strong> — {{ award.venue }}
                    </div>
                    <div class="cv-item-time">{{ award.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            {% if award.description %}
            <p>{{ award.description }}</p>
            {% endif %}
        </li>
        <!--//item-->
        {% endfor %}
    </ul>
    <h3>Program Committee Member</h3>
    {% assign reviewer = site.data.cv.reviewer %}
    <ul class="cv-list">
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>Journals</strong>
                    </div>
                </div>
                <!--//upper-row-->
                <p>{{ reviewer.journals | join: " — " }}.</p>
            </div>
        </li>
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>Conferences</strong>
                    </div>
                </div>
                <!--//upper-row-->
                <p>{{ reviewer.conferences | join: " — " }}.</p>
            </div>
        </li>
    </ul>
</section>
<!--//section-->