<section class="section academic-section">
    <h2 class="section-title">
        Academic activities
    </h2>
    <h3>Teaching</h3>
    {% assign teaching = site.data.cv.teaching %}
    <ul class="cv-list">
        {% for course in teaching %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>{{ course.course }}</strong>, {{ course.class }} at {{ course.where }}
                    </div>
                    <div class="cv-item-time">{{ course.start }} — {{ course.end }}</div>
                </div>
                <!--//upper-row-->
            </div>
            <p>{{ course.description }}</p>
        </li>
        <!--//item-->
        {% endfor %}
    </ul>
    <h3>Supervised students</h3>
    {% assign theses = site.data.cv.theses %}
    <ul class="cv-list">
        {% for thesis in theses %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>{{ thesis.name }}</strong>, {{ thesis.degree }} at {{ thesis.university }}
                    </div>
                    <div class="cv-item-time">{{ thesis.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            <p><i>{{ thesis.title }}</i></p>
        </li>
        <!--//item-->
        {% endfor %}
    </ul>
    <h3>Talks</h3>
    {% assign talks = site.data.cv.talks %}
    <ul class="cv-list">
        {% for talk in talks %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>{{ talk.type }}</strong> at {{ talk.venue }}
                    </div>
                    <div class="cv-item-time">{{ talk.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            {% if talk.description %}
            <p>{{ talk.description }}</p>
            {% endif %}
        </li>
        <!--//item-->
        {% endfor %}
    </ul>
    <h3>Awards & Scholarships</h3>
    {% assign awards = site.data.cv.awards %}
    <ul class="cv-list">
        {% for award in awards %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <div class="cv-item-title">
                        <strong>{{ award.type }}</strong> — {{ award.venue }}
                    </div>
                    <div class="cv-item-time">{{ award.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            {% if award.description %}
            <p>{{ award.description }}</p>
            {% endif %}
        </li>
        <!--//item-->
        {% endfor %}
    </ul>
</section>
<!--//section-->