<section class="section projects-section">
    <h2 class="section-title">Projects</h2>

    <div class="intro">
        <p>I believe in worldwide accessibility of science. As such, I make the software I develop for my research publicly available (whenever possible) through <a href="https://github.com/marshka" target="_blank" rel="noopener noreferrer">my GitHub page</a>. You can also find the code related to my publications on the <a href="https://github.com/Graph-Machine-Learning-Group" target="_blank" rel="noopener noreferrer">GitHub page of Graph Machine Learning Group</a>.</p>
    </div>

    <!-- TSL -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title"><a href="https://github.com/TorchSpatiotemporal/tsl" target="_blank">
            <img class="card-img-left" style="width: 3rem;" src="{{site.baseurl}}/assets/img/tsl_logo.svg" alt="" />
          Torch Spatiotemporal</a></h5>
            <p class="card-text">Torch Spatiotemporal (<strong>TSL</strong>) is a library built upon <a href="https://pytorch.org/">PyTorch</a> and <a href="https://github.com/pyg-team/pytorch_geometric/">PyG</a> for neural spatiotemporal data processing, with a focus on Graph Neural Networks.</p>
            <a href="https://github.com/TorchSpatiotemporal/tsl" target="_blank" class="card-link"><i class="fab fa-github"></i> GitHub</a>
            <a href="https://torch-spatiotemporal.readthedocs.io/en/latest/" target="_blank" class="card-link"><i class="fas fa-book"></i> Documentation</a>
        </div>
    </div>

    {% assign projects = site.data.cv.projects %}
    <h3>Other projects</h3>
    <ul class="cv-list">
        {% for project in projects %}
        <li class="item">
            <div class="meta">
                <div class="upper-row">
                    <a href="{{ project.link }}"><strong>{{ project.name }}</strong></a>
                    <div class="time">{{ project.year }}</div>
                </div>
                <!--//upper-row-->
            </div>
            {% if project.description %}
            <p>{{ project.description }}</p>
            {% endif %}
        </li>
        <!--//item-->
        {% endfor %}
    </ul>

</section>
<!--//section-->