{% assign publications = site.data.publications %}
<section class="section publications-section">

  <h2 class="section-title">
    Publications
  </h2>

  <ul class="list-unstyled">
    {% for pub in publications %}
    <li class="item">
      {% if pub.links.paper %}
        <a href="{{ pub.links.paper }}">{{ pub.title }}</a>
      {% else %}
        {{ pub.title }}
      {% endif %}
      <ul class="publication-authors">
        {% for author in pub.authors %}
        <li class="publication-author {%if forloop.index0 < pub.first_authors%}equal-contrib{% endif %}">
          {% if author == "me" %}
          <strong>Ivan Marisca</strong>
          {% else %}
          {{ author.name }} {{ author.surname }}
          {% endif %}
        </li>
        {% unless forloop.last %}
        <span class="mr-1">,</span>
        {% endunless %}
        {% endfor %}
      </ul>
      <div class="publication-venue"><span class="font-italic">{{ pub.venue }}</span>, {{ pub.year }}</div>
    </li><!--//item-->
    {% endfor %}
  </ul>
  <p><sup>*</sup>Equal contribution.</p>

</section><!--//section-->