{% assign publications = site.data.publications %}
<section class="section publications-section">

  <h2 class="section-title">
    Publications
  </h2>

  {% for pub in publications %}
  <div class="item">
    {% if pub.links.paper %}
    <li><a href="{{ pub.links.paper }}">{{ pub.title }}</a></li>
    {% else %}
    <li>{{ pub.title }}</li>
    {% endif %}
    <ul class="publication-authors">
      {% for author in pub.authors %}
      <li class="publication-author {%if forloop.index0 < pub.first_authors%}equal-contrib{% endif %}">
        {% if author == "me" %}
        <strong>Ivan Marisca</strong>
        {% else %}
        {{ author.name }} {{ author.surname }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <div class="publication-venue"><span class="font-italic">{{ pub.venue }}</span>, {{ pub.year }}</div>
  </div><!--//item-->
  {% endfor %}
  <p><sup>*</sup>Equal contribution.</p>

</section><!--//section-->