{% assign sidebar = site.data.cv.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/img/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}
    {% if sidebar.surname %}
      <strong>{{ sidebar.surname }}</strong>
    {% endif %}
    </h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include cv/contact.html %}
  {% include cv/language.html %}
  {% include cv/interests.html %}

</div><!--//sidebar-wrapper-->
