@import url(vendors/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Archivo:400,400i,700,700i&amp;display=swap");

/* -----------------------------------------------------------------
    - General Styles
----------------------------------------------------------------- */
*,
::before,
::after {
    background-repeat: no-repeat;
    box-sizing: border-box;
}

:root {
    /* fonts */
    --body-font: "Archivo", sans-serif;
    --heading-font: "Archivo", sans-serif;
    /* colors */
    --primary: #d6392e;
    --primary-color: var(--primary);
    --primary-color-soft: #d6392e33;
    --text-color: #44566C;
    --text-color-light: #8697A8;
    --text-color-on-primary: var(--white);
    --background-color: #F5F6F7;
    --tab-background-color: var(--white);
    --box-background-color: #F5F8F9;
}

html {
    font-size: 16px;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-x: hidden;
}

body,
html {
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.65;
    min-height: 100vh;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 991px) {
    body {
        line-height: 1.6;
    }

    main {
        margin-bottom: 3.5rem;
    }
}

html.is-scroll-disabled body {
    height: 100vh;
    overflow: hidden;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    html.is-scroll-disabled {
        overflow: hidden;
    }
}

.no-scroll {
    overflow: hidden;
    -ms-overflow-style: none;
}

.no-scroll-height {
    overflow-x: hidden;
}

/* -----------------------------------------------------------------
    - Icons
----------------------------------------------------------------- */

.title-icon {
    color: var(--primary-color);
    margin-right: 0.75rem;
    /*margin-top: -0.25rem;*/
    height: 2.5rem;
    width: 2.5rem;
}

.text-icon {
    width: 1em;
    height: 1em;
}

.rotate-icon-45,
.rotate-icon-180 {
    transition: ease 0.2s;
}

.is-open .rotate-icon-45 {
    transform: rotate(45deg);
}

.is-open .rotate-icon-180 {
    transform: rotate(180deg);
}

/* -----------------------------------------------------------------
    - Typography
----------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    line-height: 1.3;
}

.title--h1 {
    font-size: 2rem;
    margin-bottom: 1.0625rem;
}

@media only screen and (max-width: 580px) {
    .title--h1 {
        font-size: 1.75rem;
    }
}

.title--h2 {
    font-size: 1.75rem;
}

@media only screen and (max-width: 580px) {
    .title--h2 {
        font-size: 1.5rem;
    }
}

.title--h3 {
    font-size: 1.5rem;
    margin-bottom: 1.3125rem;
}

@media only screen and (max-width: 580px) {
    .title--h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
}

.title--h4 {
    font-size: 1.25rem;
    margin-bottom: 0.8125rem;
}

@media only screen and (max-width: 580px) {
    .title--h4 {
        font-size: 1rem;
    }
}

.title--h5 {
    font-size: 1rem;
}

@media only screen and (max-width: 580px) {
    .title--h5 {
        font-size: 0.9375rem;
    }
}

.title--h6 {
    font-size: 0.75rem;
}

.title--center {
    text-align: center;
}

.title--tone {
    color: var(--primary-color);
}

@media only screen and (max-width: 580px) {
    .title-icon {
        transform: scale(0.85);
    }
}

.title__separate {
    margin-bottom: 2.3125rem;
    position: relative;
}

.title__separate::before {
    content: '';
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    height: 0.3125rem;
    position: absolute;
    bottom: -1.0625rem;
    left: 0;
    width: 3.125rem;
    z-index: 1;
}

@media only screen and (max-width: 580px) {
    .title__separate {
        margin-bottom: 1.5rem;
    }

    .title__separate::before {
        height: 0.1875rem;
        bottom: -0.5625rem;
        width: 3rem;
    }
}

@media only screen and (max-width: 991px) {
    .first-title {
        transition: all .3s ease-in-out;
    }
}

@media only screen and (max-width: 991px) {
    .open-menu .first-title {
        padding-top: 2.5625rem;
    }
}

@media only screen and (max-width: 580px) {
    .open-menu .first-title {
        padding-top: 0;
    }
}

.weight--400 {
    font-weight: 400;
}

.weight--500 {
    font-weight: 400;
}

.weight--600 {
    font-weight: 700;
}

.weight--700 {
    font-weight: 700;
}

.color--light {
    color: var(--text-color-light);
}

.color--dark {
    color: var(--text-color);
}

a {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    transition: color 0.3s cubic-bezier(0.72, 0.16, 0.345, 0.875);
}

a:hover {
    color: var(--primary-color);
    outline: none;
    text-decoration: underline;
}

a.decoration--none {
    text-decoration: none;
}

.noGutters-Top {
    margin-top: 0 !important;
}

.noGutters-Bottom {
    margin-bottom: 0 !important;
}

.noGutters-Left {
    margin-left: 0 !important;
}

.noGutters-Right {
    margin-right: 0 !important;
}

.description {
    color: var(--box-background-color);
    margin-bottom: 1.875rem;
}

.foreword {
    color: var(--box-background-color);
    font-size: 1.125rem;
}

img {
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

iframe {
    background-color: var(--text-color);
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
}

.cover {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
    height: 100%;
    width: 100%;
}

::-moz-selection {
    background: var(--primary-color);
    color: var(--text-color-on-primary) !important;
}

::selection {
    background: var(--primary-color);
    color: var(--text-color-on-primary) !important;
}

/* -----------------------------------------------------------------
    - Form
----------------------------------------------------------------- */
.input,
.textarea,
select,
.custom-select {
    background-color: var(--box-background-color);
    border: 1px solid var(--box-background-color);
    border-radius: 20px;
    box-shadow: none;
    color: var(--text-color);
    font-size: inherit;
    height: auto;
    padding: 0.875rem 1.375rem 0.8125rem;
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media only screen and (max-width: 580px) {

    .input,
    .textarea,
    select,
    .custom-select {
        padding: 0.8125rem 1.375rem 0.75rem;
    }
}

.input:focus,
.textarea:focus,
select:focus,
.custom-select:focus {
    background-color: var(--box-background-color);
    color: var(--text-color);
    box-shadow: none;
    outline: none;
}

.input {
    line-height: inherit;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .input {
        line-height: 0;
    }
}

.input--white {
    background-color: var(--white);
}

.input--white:focus {
    background-color: var(--white);
}

.input__icon {
    padding-left: 3.375rem;
}

@media only screen and (max-width: 580px) {
    .input__icon {
        padding-left: 2.8125rem;
    }
}

.textarea {
    border-radius: 20px;
    display: block;
    padding: 0.8125rem 1.1875rem;
    resize: none;
}

.textarea--white {
    background-color: var(--white);
}

.textarea--white:focus {
    background-color: var(--white);
}

.form-group {
    margin-bottom: 2rem;
    position: relative;
}

@media only screen and (max-width: 580px) {
    .form-group {
        margin-bottom: 1.6875rem;
    }
}

.form-group .font-icon {
    color: var(--text-color-light);
    font-size: 1.0625rem;
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.375rem;
    height: 1rem;
    width: 1rem;
    z-index: 1;
}

@media only screen and (max-width: 580px) {
    .form-group .font-icon {
        font-size: 1rem;
        left: 2.0625rem;
    }
}

.help-block {
    position: absolute;
    font-size: 0.75rem;
    line-height: 1.4;
    padding-top: 0.3125rem;
    padding-left: 0.375rem;
}

@media only screen and (max-width: 580px) {
    .help-block {
        font-size: 0.6875rem;
    }
}

.with-errors {
    color: var(--danger);
}

.has-error input,
.has-error textarea,
.has-error input:focus,
.has-error textarea:focus {
    border-color: var(--danger);
}

#validator-contact {
    font-size: 0.875rem;
    margin-top: 1rem;
}

.form-control::-webkit-input-placeholder {
    color: var(--text-color-light);
}

.form-control::-moz-placeholder {
    color: var(--text-color-light);
}

.form-control:-ms-input-placeholder {
    color: var(--text-color-light);
}

.form-control::-ms-input-placeholder {
    color: var(--text-color-light);
}

.form-control::placeholder {
    color: var(--text-color-light);
}

input:invalid,
textarea:invalid {
    outline: none !important;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.125rem var(--primary-color-soft);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: var(--primary-color);
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    border-color: var(--white);
    background-color: transparent;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.custom-control-label {
    line-height: 1.55;
    padding-left: 0.5rem;
}

.custom-control-label::before {
    background-color: transparent;
    border: 1px solid var(--white);
}

select,
.custom-select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.1rem center/10px 16px;
}

select option,
.custom-select option {
    color: var(--text-color);
}

.dropdown-menu {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0.5rem 2.5rem rgba(134, 151, 168, 0.25);
    color: #5F6F81;
    font-size: 0.9375rem;
}

.dropdown-menu::before {
    content: '';
    border-left: 0.375rem solid transparent;
    border-right: 0.375rem solid transparent;
    border-bottom: 0.375rem solid var(--white);
    height: 0;
    position: absolute;
    top: -0.375rem;
    left: 1.0625rem;
    width: 0;
}

.dropdown.dropup .dropdown-menu::before {
    border-left: 0.375rem solid transparent;
    border-right: 0.375rem solid transparent;
    border-top: 0.375rem solid var(--white);
    border-bottom: 0.375rem solid transparent;
    top: auto;
    bottom: -0.75rem;
}

.progress {
    background-color: var(--white);
    border-radius: 1rem;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: inherit;
    position: relative;
    text-align: right;
}

@media only screen and (max-width: 580px) {
    .progress {
        margin-bottom: 1rem;
    }
}

.progress:last-child {
    margin-bottom: 0;
}

.progress-bar {
    background-color: var(--primary-color);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    width: 0%;
    z-index: 1;
}

.progress .progress-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.progress .progress-text>* {
    min-width: 0;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .progress-text span:nth-child(2) {
        float: right;
    }
}

.badge--hero {
    font-size: 0.9375rem;
    font-weight: 400;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
}

@media only screen and (max-width: 580px) {
    .badge--hero {
        font-size: 0.875rem;
    }
}

.badge--light {
    background-color: var(--box-background-color);
    color: var(--text-color);
}

.badge-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.badge--gray {
    background-color: var(--white);
    color: var(--text-color);
}

.badge--dark {
    background-color: var(--text-color);
    color: var(--white);
}

.badge--blue {
    background-color: var(--primary-color);
    color: var(--white);
}

.badge--red {
    background-color: var(--danger);
    color: var(--white);
}

.tooltip {
    font-family: var(--body-font);
}

.tooltip-inner {
    max-width: 12.5rem;
    padding: 0.25rem 0.5625rem 0.25rem;
    background-color: var(--text-color);
    border-radius: 0.25rem;
    box-shadow: 0 1rem 2rem rgba(134, 151, 168, 0.25), 0 0.125rem 1rem rgba(134, 151, 168, 0.5);
}

.tooltip.show {
    opacity: 1;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-width: 0.3125rem 0.3125rem 0;
    border-top-color: var(--text-color);
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-width: 0.3125rem 0.3125rem 0.3125rem 0;
    border-right-color: var(--text-color);
}

.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-width: 0.3125rem 0 0.3125rem 0.3125rem;
    border-left-color: var(--text-color);
}

.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-width: 0 0.3125rem 0.3125rem;
    border-bottom-color: var(--text-color);
}

.btn {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0.5rem 1rem var(--primary-color-soft), 0 0.125rem 0.25rem var(--primary-color-soft);
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    padding: 0.9375rem 2rem 0.875rem;
    position: relative;
    transition: .4s ease-in-out;
    white-space: nowrap;
}

.btn:hover {
    color: var(--white);
    box-shadow: none;
    opacity: .9;
}

.btn:focus {
    box-shadow: 0 1.5rem 2.5rem var(--primary-color-soft), 0 0.5rem 1rem var(--primary-color-soft);
}

.btn--light {
    background-color: var(--box-background-color);
    color: var(--text-color);
}

.btn--gray {
    background-color: var(--white);
    color: var(--text-color);
}

.btn--dark {
    background-color: var(--text-color);
}

.btn--red {
    background-color: var(--danger);
    color: var(--white);
}

.btn .font-icon {
    margin-right: 0.375rem;
}

button:focus {
    outline: none;
}

/* -----------------------------------------------------------------
    - Preloader
----------------------------------------------------------------- */

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 1106;
    opacity: 1;
}

.preloader>* {
    min-width: 0;
}

.preloader__wrap {
    width: 100%;
    max-width: 9.375rem;
}

.preloader__progress {
    background: var(--white);
    height: 0.125rem;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

.preloader__progress span {
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
}

.circle-pulse>* {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(0);
    animation: pulse 1.6s linear infinite;
}

.circle-pulse__1 {
    width: 6rem;
    height: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
    background-color: var(--primary-color);
}

.circle-pulse__2 {
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -2.4rem;
    margin-left: -2.4rem;
    background-color: var(--primary-color);
    opacity: 0.7;
    animation-delay: -0.8s;
}

@keyframes pulse {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/* -----------------------------------------------------------------
    - Sidebar
----------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {
    .sidebar {
        margin-bottom: 1.875rem;
    }
}

@media only screen and (max-width: 580px) {
    .sidebar {
        margin-bottom: 1rem;
    }
}

.sidebar .avatar {
    margin-top: -8rem;
    margin-bottom: 1.5625rem;
    margin-left: auto;
    margin-right: auto;
    transition: margin-top .3s ease-in-out;
}

.sidebar__user-name {
    font-size: 1.8125rem;
    font-family: var(--heading-font);
    margin-bottom: 0.875rem;
    position: relative;
}

@media only screen and (max-width: 580px) {
    .sidebar__user-name {
        font-size: 1.5rem;
        margin-bottom: 0.625rem;
    }
}

.sidebar__info {
    padding-top: 1.5625rem;
}

@media only screen and (max-width: 1200px) {
    .sidebar__info {
        text-align: center;
    }
}

@media only screen and (max-width: 580px) {
    .sidebar__info {
        padding-top: 1.5rem;
        padding-bottom: 1.25rem;
    }
}

.sidebar .btn {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .sidebar .btn {
        width: 40%;
    }
}

@media only screen and (max-width: 991px) {
    .sidebar .btn {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .sidebar .btn {
        width: 100%;
    }
}

.contacts-block {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    .contacts-block {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .contacts-block {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 580px) {
    .contacts-block {
        font-size: 0.9375rem;
    }
}

.contacts-block__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.6875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contacts-block__item>* {
    min-width: 0;
}

@media only screen and (max-width: 1200px) {
    .contacts-block__item {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .contacts-block__item {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.25rem;
    }
}

.contacts-block__item a {
    color: var(--text-color);
    text-decoration: none;
}

.contacts-block__item a:hover {
    color: var(--primary-color);
}

.contacts-block .marshkicon {
    font-size: 1.125rem;
    margin-right: 0.875rem;
}

.sticky-column.is_stuck {
    margin-top: 1.875rem;
}

.sticky-column.is_stuck .avatar {
    margin-top: 0;
}

/* -----------------------------------------------------------------
    - Sections
----------------------------------------------------------------- */

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1240px;
    }
}

.box {
    background-color: var(--tab-background-color);
    border-radius: 20px;
    padding: 1.875rem;
    position: relative;
    transition: box-shadow .3s ease-in-out;
}

@media only screen and (max-width: 580px) {
    .box {
        border-radius: 16px;
        padding: 1.25rem;
    }
}

.box__second {
    background-color: var(--tab-background-color);
    box-shadow: 0 0 10px #92929238;
    border-radius: 15.3846153846px;
}

@media only screen and (max-width: 580px) {
    .box__second {
        border-radius: 15.3846153846px;
    }
}

.box__large {
    padding: 1.875rem 2.5rem;
}

@media only screen and (max-width: 991px) {
    .box__large {
        padding: 1.875rem;
    }
}

@media only screen and (max-width: 580px) {
    .box__large {
        padding: 1.25rem;
    }
}

.box__large .box-inner::before,
.box__large .box-inner::after {
    width: 2.5rem;
}

@media only screen and (max-width: 991px) {

    .box__large .box-inner::before,
    .box__large .box-inner::after {
        width: 1.875rem;
    }
}

@media only screen and (max-width: 580px) {

    .box__large .box-inner::before,
    .box__large .box-inner::after {
        width: 1.25rem;
    }
}

.box__large .box-inner::before {
    left: -2.5rem;
}

@media only screen and (max-width: 991px) {
    .box__large .box-inner::before {
        left: -1.875rem;
    }
}

@media only screen and (max-width: 580px) {
    .box__large .box-inner::before {
        left: -1.25rem;
    }
}

.box__large .box-inner::after {
    right: -2.5rem;
}

@media only screen and (max-width: 991px) {
    .box__large .box-inner::after {
        right: -1.875rem;
    }
}

@media only screen and (max-width: 580px) {
    .box__large .box-inner::after {
        right: -1.25rem;
    }
}

.box-inner {
    background-color: var(--box-background-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 0;
}

@media only screen and (max-width: 580px) {
    .box-inner {
        padding-top: 1.1875rem;
        padding-bottom: 1rem;
    }
}

.box-inner::before,
.box-inner::after {
    content: '';
    background-color: var(--box-background-color);
    height: 100%;
    position: absolute;
    top: 0;
    width: 1.875rem;
    z-index: -1;
}

@media only screen and (max-width: 580px) {

    .box-inner::before,
    .box-inner::after {
        width: 1.25rem;
    }
}

.box-inner::before {
    left: -1.875rem;
}

@media only screen and (max-width: 580px) {
    .box-inner::before {
        left: -1.25rem;
    }
}

.box-inner::after {
    right: -1.875rem;
}

@media only screen and (max-width: 580px) {
    .box-inner::after {
        right: -1.25rem;
    }
}

.box-inner--rounded::before {
    border-radius: 0 0 0 20px;
}

.box-inner--rounded::after {
    border-radius: 0 0 20px 0;
}

@media only screen and (max-width: 580px) {
    .box-inner--rounded::before {
        border-radius: 0 0 0 16px;
    }

    .box-inner--rounded::after {
        border-radius: 0 0 16px 0;
    }
}

.box-inner--white {
    background-color: var(--white);
}

.box-inner--white::before,
.box-inner--white::after {
    background-color: var(--white);
}

.shadow {
    box-shadow: 0 2.5rem 3.125rem rgba(103, 118, 128, 0.1) !important;
}

.shadow::before {
    content: '';
    box-shadow: 0 1.875rem 3.125rem rgba(103, 118, 128, 0.2);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 2rem;
    width: 65%;
    z-index: -1;
}

.shadow--orange {
    box-shadow: 0 2.5rem 3.125rem rgba(177, 68, 27, 0.1) !important;
}

.shadow--orange::before {
    box-shadow: 0 2.5rem 3.125rem rgba(177, 68, 27, 0.1);
}

.shadow--green {
    box-shadow: 0 2.5rem 3.125rem rgba(0, 115, 97, 0.1) !important;
}

.shadow--green::before {
    box-shadow: 0 2.5rem 3.125rem rgba(0, 115, 97, 0.1);
}

.js-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.overlay {
    position: relative;
}

.overlay::before,
.overlay--45::before,
.overlay--80::before {
    content: '';
    background-color: rgba(68, 86, 108, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.overlay--45::before {
    background-color: rgba(68, 86, 108, 0.45);
}

.overlay--80::before {
    background-color: rgba(68, 86, 108, 0.8);
}

.gutter-top {
    padding-top: 10rem;
}

@media only screen and (max-width: 580px) {
    .gutter-top {
        padding-top: 9rem;
    }
}

.avatar {
    display: block;
    height: 100%;
    width: 100%;
}

.avatar--180 {
    /*border-radius: 3rem;*/
    border-radius: 50%;
    background-color: var(--background-color);
    max-height: 11.25rem;
    max-width: 11.25rem;
    height: 11.25rem;
    width: 11.25rem;
}

.avatar--80 {
    max-height: 5rem;
    max-width: 5rem;
    filter: drop-shadow(-0.15625rem 0 0 var(--white)) drop-shadow(0.1875rem 0 0 var(--white)) drop-shadow(0 -0.125rem 0 var(--white)) drop-shadow(0 0.125rem 0 var(--white)) drop-shadow(0 0.25rem 0.25rem rgba(134, 151, 168, 0.25)) drop-shadow(0 0.5rem 0.5rem rgba(134, 151, 168, 0.4));
}

@media only screen and (max-width: 580px) {
    .avatar--80 {
        max-height: 3.3333333333rem;
        max-width: 3.3333333333rem;
    }
}

.avatar--60 {
    max-height: 3.75rem;
    max-width: 3.75rem;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(134, 151, 168, 0.2)) drop-shadow(0 0.5rem 0.5rem rgba(134, 151, 168, 0.2));
}

@media only screen and (max-width: 580px) {
    .avatar--60 {
        max-height: 2.8195488722rem;
        max-width: 2.8195488722rem;
    }
}

.avatar image {
    height: 100%;
    width: 100%;
}

.social {
    line-height: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.375rem;
}

@media only screen and (min-width: 580px) {
    .social {
        margin-top: 1.125rem;
        margin-bottom: 1rem;
    }
}

.social__link {
    color: var(--text-color);
    display: inline-block;
    font-size: 0.95rem;
    margin-left: 0.8125rem;
    text-decoration: none;
}

.social__link:hover {
    cursor: pointer;
    text-decoration: none;
}

.social__link:first-child {
    margin-left: 0;
}

@media only screen and (min-width: 580px) {
    .pt-sm-6 {
        padding-top: 5rem;
    }
}

/* -----------------------------------------------------------------
    - Navbar
----------------------------------------------------------------- */
.nav-container {
    background: var(--box-background-color);
    border: 2px solid var(--tab-background-color);
    border-radius: 0 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 4rem;
    padding-right: 2.375rem;
    padding-left: 2.375rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.nav-container>* {
    min-width: 0;
}

@media only screen and (max-width: 991px) {
    .nav-container {
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px 20px 0 0;
        border: unset;
        -webkit-box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        height: 3.8125rem;
        width: 100%;
        z-index: 1112;
    }

    .nav-container>* {
        min-width: 0;
    }
}

@media only screen and (max-width: 580px) {
    .nav-container {
        border-radius: 20px 20px 0 0;
        height: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 991px) {
    .medium-zoom--opened .nav-container {
        z-index: 10;
    }
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.nav>* {
    min-width: 0;
}

@media only screen and (max-width: 580px) {
    .nav {
        font-size: 0.875rem;
    }
}

/*@media only screen and (max-width: 768px) {
    .nav {
        font-size: 0.875rem;
    }
}

@media only screen and (max-width: 580px) {
    .nav {
        font-size: 0.6875rem;
    }
}*/

.nav__item {
    margin-right: 2.75rem;
}

@media only screen and (max-width: 991px) {
    .nav__item {
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 580px) {
    .nav__item {
        margin-right: 1.25rem;
    }
}

.nav__item a {
    background: none;
    color: var(--text-color);
    -webkit-text-fill-color: inherit;
    font-weight: 700;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.nav__item a:hover {
    opacity: .6;
    text-decoration: none;
}

.nav__item a.active {
    color: var(--primary-color);
}

.nav__item a.active:hover {
    opacity: 1;
}

.nav__item:last-child {
    margin-right: 0;
}

/* -----------------------------------------------------------------
    - Footer
----------------------------------------------------------------- */
.footer {
    color: var(--text-color);
    opacity: 0.5;
    font-size: 0.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

@media only screen and (max-width: 580px) {
    .footer {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.bg-green .footer,
.bg-peach .footer {
    color: var(--white);
}

/* -----------------------------------------------------------------
    - Cases
----------------------------------------------------------------- */
.case-item {
    display: flex;
    height: calc(100% - rem(30px));
    margin-bottom: 1.875rem;
    padding: 1.875rem 1.875rem 1.5rem;
    position: relative;
}

.case-item>* {
    min-width: 0;
}

@media only screen and (max-width: 991px) {
    .case-item {
        height: calc(100% - rem(20px));
    }
}

@media only screen and (max-width: 580px) {
    .case-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100% - rem(20px));
        margin-bottom: 1.25rem;
        padding: 1rem;
        text-align: center;
    }

    .case-item>* {
        min-width: 0;
    }
}

.case-item__icon {
    color: var(--primary-color);
    margin-right: 1.1875rem;
    height: 2.5rem;
    width: 2.5rem;
}

img.case-item__icon {
    border-radius: 50%;
}

@media only screen and (max-width: 580px) {
    .case-item__icon {
        margin-right: 0;
        margin-bottom: 0.8125rem;
    }
}

.case-item div {
    flex: 1;
}

.case-item__caption {
    opacity: 0.8;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

.case-item__caption:last-child {
    margin-bottom: 0;
}

.case-item__links {
    display: flex;
    font-size: 0.9em;
}

@media only screen and (max-width: 580px) {
    .case-item__links {
        justify-content: center;
    }
}

.case-item__links a {
    margin-right: 1.2em;
}

.case-item__links a:last-child {
    margin-right: 0;
}

.case-item__links .text-icon {
    margin-right: 0.4em;
}

/* -----------------------------------------------------------------
    - Publications
----------------------------------------------------------------- */
.gutter-sizer {
    width: 1.875rem;
}

.gallery-grid {
    display: flex;
    position: relative;
}

.gallery-grid>* {
    min-width: 0;
}

.gallery-grid__item {
    margin-bottom: 1.3125rem;
    position: absolute;
    width: calc(33% - 17.5px);
}

@media only screen and (max-width: 991px) {
    .gallery-grid__item {
        width: calc(50% - 16px);
    }
}

@media only screen and (max-width: 768px) {
    .gallery-grid__item {
        width: 100%;
    }
}

.gallery-grid__item:hover .gallery-grid__image {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

.gallery-grid__item:hover .gallery-grid__image-wrap::before {
    background: var(--primary-color-soft);
}

.gallery-grid__item:hover .gallery-grid__image-wrap::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.gallery-grid__image-wrap {
    border-radius: 14px;
    height: 11rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 5px 7px 2px rgb(0 0 0 / 5%);
}

.gallery-grid__image-wrap::before {
    content: '';
    background: rgba(13, 13, 13, 0);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.gallery-grid__image-wrap::after {
    /*content: url(#marshkicon-view);*/
    content: "📃";
    background: rgba(32, 32, 33, 0.8);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    font-size: 1.125rem;
    color: var(--primary-color) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 3.5rem;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 3.5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 2;
}

.gallery-grid__image-wrap::after>* {
    min-width: 0;
}

@media only screen and (max-width: 1200px) {
    .gallery-grid__image-wrap {
        max-height: 23.75rem;
        height: 15.5vw;
    }
}

@media only screen and (max-width: 991px) {
    .gallery-grid__image-wrap {
        height: 13rem;
    }
}

@media only screen and (max-width: 768px) {
    .gallery-grid__image-wrap {
        height: 18rem;
    }
}

@media only screen and (max-width: 580px) {
    .gallery-grid__image-wrap {
        height: 11.875rem;
    }
}

.gallery-grid__image {
    border-radius: 10px;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.gallery-grid__caption {
    padding: 0 0.5rem;
}

.gallery-grid__title {
    font-size: 0.9375rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-bottom: 0;
}

.gallery-grid__category {
    font-size: 0.875rem;
    display: block;
    opacity: .7;
}

.gallery-grid__venue {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 0.5em;
    background: var(--primary-color);
    color: var(--text-color-on-primary);
    opacity: 0.95;
    font-size: 0.6em;
    font-weight: 700;
    z-index: 10;
    padding: 8px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 8px;
}

@media only screen and (min-width: 769px) {
    .filter {
        display: inline-flex;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 1.1875rem;
        padding: 0;
    }

    .filter>* {
        min-width: 0;
    }

    .filter__item {
        padding-right: 1.1875rem;
    }

    .filter__item:first-child {
        display: none;
    }

    .filter__item:last-child {
        padding-right: 0;
    }

    .filter__item.active a {
        color: var(--primary-color);
    }

    .filter__link {
        color: var(--text-color-light);
        padding: 0 0.25rem;
        text-decoration: none;
        display: block;
        overflow: hidden;
        position: relative;
    }

    .filter__link:hover {
        text-decoration: none;
    }
}

.select .placeholder {
    display: none;
}

@media only screen and (max-width: 768px) {
    .select {
        background-color: var(--box-background-color);
        border-radius: 1.25rem;
        display: block;
        margin-bottom: 2rem;
        padding: 0.1875rem 1.1875rem 0.1875rem 1.5rem;
        position: relative;
        vertical-align: middle;
        text-align: left;
        user-select: none;
        width: 100%;
        -webkit-touch-callout: none;
        z-index: 20;
    }

    .select .placeholder {
        cursor: pointer;
        padding: 0.5rem 0;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .select .placeholder:after {
        position: absolute;
        top: 50%;
        right: 0.125rem;
        transform: translateY(-50%);
        /*content: url(#marshkicon-view);*/
        z-index: 10;
    }

    .select.is-open .placeholder:after {
        /*content: '\e90f';*/
    }

    .select.is-open ul {
        display: block;
    }

    .select ul {
        background-color: var(--tab-background-color);
        box-shadow: 0 0.625rem 3.75rem rgba(134, 151, 168, 0.25);
        border-radius: 20px;
        display: none;
        max-height: 37.5rem;
        overflow: hidden;
        overflow-y: auto;
        padding: 0.5625rem 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .select ul li {
        display: block;
        text-align: left;
        padding: 0.1875rem 1.1875rem;
        color: var(--text-color);
        cursor: pointer;
    }

    .select ul li:hover {
        background-color: var(--primary-color);
    }

    .select ul li:hover a {
        color: var(--white);
    }

    .select ul li:first-child {
        display: none;
    }

    .select ul li a {
        color: var(--text-color);
        text-decoration: none;
    }
}

@media only screen and (max-width: 580px) {
    .select {
        margin-bottom: 1.5rem;
    }
}

/* -----------------------------------------------------------------
    - Timeline
----------------------------------------------------------------- */
.timeline {
    margin-top: 1.8125rem;
    padding-left: 0.5rem;
}

.timeline__item {
    border-left-color: var(--primary-color-soft);
    border-left-width: 1px;
    border-left-style: solid;
    padding-bottom: 0.5625rem;
    padding-left: 1.375rem;
    position: relative;
}

.timeline__item::before {
    content: '';
    background-color: var(--primary-color);
    box-shadow: 0 0 0 0.1875rem var(--primary-color-soft);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -0.3125rem;
    height: 0.625rem;
    width: 0.625rem;
}

.timeline__item:last-child {
    border: 0;
}

.timeline__title {
    margin-bottom: 0;
    position: relative;
    top: -0.3125rem;
}

.timeline__period {
    opacity: 0.6;
    font-size: 0.875rem;
}

.timeline__description {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 580px) {
    .timeline__description {
        margin-top: 0.1875rem;
    }
}

/* -----------------------------------------------------------------
    - Other
----------------------------------------------------------------- */
.back-to-top {
    border-top: 0.0625rem solid var(--text-color);
    border-left: 0.0625rem solid var(--text-color);
    cursor: pointer;
    height: 2rem;
    opacity: .5;
    position: fixed;
    right: 2.5rem;
    bottom: 1.875rem;
    width: 2rem;
    transform: rotate(45deg);
    transition: opacity .35s ease-out;
    z-index: 10;
}

.back-to-top:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .back-to-top {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media only screen and (max-width: 580px) {
    .back-to-top {
        display: none !important;
    }
}

.js-lines {
    overflow: hidden;
}

.js-lines div {
    overflow: hidden;
}

.js-words div div {
    opacity: 0;
}

.medium-zoom-overlay {
    background: var(--white) !important;
    z-index: 1104;
}

.medium-zoom-image {
    cursor: pointer !important;
    z-index: 1104;
}

.medium-zoom-image--opened {
    border-radius: 0.0625rem;
    height: 100%;
}