---
layout: page
---
<div class="pb-2">
    <h1 class="title title--h1 first-title title__separate">Publications <a href="{{ 'publications.html' | absolute_url }}">⇤</a></h1>
    <!-- div class="post-header-image">
        <img class="cover ls-is-cached lazyloaded" src="{{ page.landscape | prepend: 'assets/img/' | absolute_url}}" alt="">
    </div -->
    <h1 class="title title--h1 first-title title__separate">{{ page.title }}</h1>
    <!-- Authors -->
    <p>{% for author in page.authors %}
        {%assign ivan = author | slice: 0, 12%}
        {% if ivan == "Ivan Marisca" %}<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% if author != page.authors.last %},{% endif %}
        {% endfor %}</p>
    <!-- Metadata -->
    <p>
        <strong>Tags:</strong> {% for cat in page.categories %}
        <span class="badge badge-pill badge-primary">{{ cat }}</span>
        {% endfor %}<br>
        <strong>Venue:</strong> {{ page.venue }}
    </p>
    <!-- Abstract -->
    <p>{{ page.abstract }}</p>
    <!-- Links -->
    <p class="case-item__links">
        <a href="{{ page.link }}" target="_blank"><svg class="marshkicon text-icon">
                <use href="#marshkicon-newspaper" /></svg>Paper</a>
        {% if page.code %}
        <a href="{{ page.code }}" target="_blank"><svg class="marshkicon text-icon">
                <use href="#marshkicon-github" /></svg>GitHub</a>
        <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/{{ page.code | slice: 19, 999 }}?style=social">
        {% endif %}
    </p>
</div>