---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <div class="wrapper">
    {% include cv/sidebar.html %}

    <div class="main-wrapper">
      <table>
        <thead>
          <tr>
            <td>
              <div class="page-margin"></div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ content }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <div class="page-margin"></div>
            </td>
          </tr>
        </tfoot>
      </table>

      <div class="cv-footer">
        Last update: {{ "today" | date: "%b %e, %Y" }}
        <div class="print-only mt-1">{{ site.data.cv.footer }}</div> 
      </div>
    </div>
  </div>

  {% include cv/footer.html %}
  <!-- JavaScripts -->
  <script src="{{ 'assets/js/jquery-3.4.1.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/plugins.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/common.js' | absolute_url }}"></script>

</body>

</html>